In [83]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [84]:
model=load_model('model.h5')

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender= pickle.load(file)

with open('scaler.pickle','rb') as file:
    scaler = pickle.load(file)

In [85]:
import pandas as pd

input_data = {
    'CreditScore': [600],
    'Geography': ['France'],
    'Gender': ['Male'],
    'Age': [40],
    'Tenure': [30],
    'Balance': [0.00], 
    'NumOfProducts': [1], 
    'HasCrCard': [1], 
    'IsActiveMember': [1],
    'EstimatedSalary': [50000.00] 
}

input_df = pd.DataFrame(input_data)

In [86]:
input_data

{'CreditScore': [600],
 'Geography': ['France'],
 'Gender': ['Male'],
 'Age': [40],
 'Tenure': [30],
 'Balance': [0.0],
 'NumOfProducts': [1],
 'HasCrCard': [1],
 'IsActiveMember': [1],
 'EstimatedSalary': [50000.0]}

In [87]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,30,0.0,1,1,1,50000.0

In [88]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [89]:
geo_encoded = onehot_encoder_geo.transform([input_data['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\DONGRI ASHMANJUM\Documents\projects\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [90]:
input_df = pd.DataFrame(input_data)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,30,0.0,1,1,1,50000.0

In [91]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,30,0.0,1,1,1,50000.0

In [92]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,30,0.0,1,1,1,50000.0,1.0,0.0,0.0

In [93]:
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359,  8.67426486, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [94]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 92ms/step

array([[0.01881273]], dtype=float32)

In [95]:
prediction_proba = prediction[0][0]
prediction_proba

0.01881273

In [96]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn')

The customer is not likely to churn